<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ask485</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>

    <body>
        <div class="feed">
            <div class="ask485">
                ask<span style="font-weight: bolder;">485?</span>
            </div>
            <form action="/" method="GET">
                <div class="search_bar" >
                    <input type="text" name="q" value="{{ query }}"/>
                </div>
                <div class="pagerank_weight">Pagerank Weight</div>
                {% if weight != "" %}
                    <input type="range" name="w" min="0" max="1" step="0.01" value="{{weight}}"/>
                {% else %}
                    <input type="range" name="w" min="0" max="1" step="0.01" value="0.5"/>
                {% endif %}
                <input type="submit" value="Search"/>
            </form>
            <div class="docs">
                {% if not result and queried %}
                    <div class="no_results">No search results found!</div>
                {% endif %}
                
                {% for res in result %}
                    {% if res['url'] == '' %}
                        <a class="doc_url">No url available</a>
                    {% else %}
                        <a class="doc_url" href="{{ res['url'] }}">{{ res['url'] }}</a>
                    {% endif %}
                    
                    <div class="doc_title">
                        {{ res['title'] }}
                    </div> 

                    {% if res['summary'] == '' %}
                        <div class="doc_summary">
                            No summary available
                        </div>
                    {% else %}
                        <div class="doc_summary">
                            {{ res['summary'] }}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </body>

</html>